@media screen and (max-width: 600px) {
    .left {
        display: none;
    }
    .right ul {
        display: flex;
        justify-content: center;
        padding: 15px;
      
        width: 100%;
        list-style-type: none;
      }
    
    
    }